body {
  background: #f8f9fa;
}

.input-error {
  border-color: #dc3545 !important;
}

.error-text {
  color: #dc3545;
  font-size: 0.875rem;
  margin-top: 4px;
}

.progress {
  background-color: #e9ecef;
}

.progress-bar.bg-danger { background-color: #dc3545 !important; }
.progress-bar.bg-warning { background-color: #ffc107 !important; }
.progress-bar.bg-info    { background-color: #0dcaf0 !important; }
.progress-bar.bg-success { background-color: #198754 !important; }



img.rounded-circle {
  object-fit: cover;
  border: 2px solid #ddd;
}

.auth-container {
  display: flex;
  min-height: 100vh;
}
.auth-image {
  flex: 1;
  background-size: cover;
  background-position: center;
}
.login-img {
  background-image: url('../assets/images/loginPic.png');
}
.register-img {
  background-image: url('../assets/images/RegisterPic.png');
}
.auth-form {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #f8f9fa;
}
